<configuration>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>bench.log</file>
        <encoder>
            <pattern>%d %p %c [%t] %m%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %p %c [%t] %m%n</pattern>
        </encoder>
    </appender>

    <logger name="bench" level="info" additivity="true">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="tests" level="info" additivity="true">
        <appender-ref ref="STDOUT" />
    </logger>

    <root level="debug">
        <appender-ref ref="FILE" />
    </root>

</configuration>